body{
    background-image: url("bgimg.jpeg");
}
#container1{
    float: left;
    text-align: left;
    /* border: 2px solid red; */
    width: 50%;
}
div#container1 > p{
    /* border: 2px solid green; */
    margin-left: 15%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
div#img1>img{
    margin-left: 30%;
    height: 200px;
    width: 300px;
}
#container2>p>img{
    height: 20px;
    width: 20px;
}
div#container1>div{
    margin-top: -4%;
    /* border: 2px solid rebeccapurple; */
}
div#container1>div>p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    /* border: 2px solid orange; */
    font-size: 20px;
    margin-bottom: -2%;
}
div#container1>div>p:nth-child(even)>input{
    border: 0px solid gray;
    border-bottom-width: 1px;
    background-color: transparent;
    width: 100%;
}
#button{
    margin-left: 15%;
    /* border: 2px solid orange; */
    margin-bottom: 5%;
    margin-top: 5%;
    width: 85%;
    background-color: lightblue;
    font-weight: 600;
    font-size: medium;
}
#button:hover{
    background-color: greenyellow;
}
.text{
    font-size: 13px;
    height: 20px;
}


#container2{
    float: right;
    /* border: 2px solid rebeccapurple; */
    width: 49%;
}
#container2 > p >span.info{
    font-size: 120%;
    /* border: 2px solid black; */
}
#container2 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 50px;
    /* border: 2px solid red; */
}

#container2 > p >span.cross{
    font-size: 150%;
    padding-left: 20px;
    /* border: 2px solid green; */
}
#success{
    background-color: rgb(111, 236, 186);
}
#caution{
    background-color: rgb(253, 184, 137);
}
#empty{
    background-color: rgb(118, 208, 253);
}
#incorrect{
    background-color: rgb(255, 209, 186);
}